<body class="pattern">
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center" style="margin-top: 50px;">
      <div class="col-md-4">
          <form class="form p-4" method="post">
            <h3 class="text-center mb-3 open-sans">Editar perfil</h3>
          <div class="row justify-content-center align-items-center">
            <div class="divisor"></div>
          </div>
            <p class="text-center mb-2 open-sans">Preencha os campos abaixo para editar seus dados pessoais. </p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :first_name, :label => 'Nome',
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "first-name" } %>
      <%= f.input :last_name, :label => 'Sobrenome',
                  required: false,
                  input_html: { autocomplete: "last-name" } %>
      <%= f.input :phone, :label => 'Celular',
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "phone" } %>
      <%= f.input :password, :label => 'Nova senha',
                  hint: "Deixe em branco caso não deseje alterá-la",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, :label => 'Senha atual',
                  hint: "Precisamos dela para salvar suas alterações",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions row justify-content-center">
      <%= f.submit "Atualizar perfil", class:"btn-custom pink mt-3 mb-3"%>
    </div>
  <% end %>

  </form>
      </div>
    </div>
  </div>
</body>
