<%# Partial for map info windows %>
<div class="info window">
  <% if spotted.photo.attached? %>
    <%= cl_image_tag spotted.photo.key, width: "70", height: "70", crop: "scale"%>
  <% else %>
    <%= image_tag "placeholder.png", class:"card-pet-page", size: '110x70', crop: 'scale' %>
  <% end %>
  <h5>Resgatado?<h5><h6><%= spotted.seen_or_rescued %><h6>
  <h5>Horario:<h5><h6> <%= spotted.created_at.strftime("%d/%b/%y às %H:%M") %><h6>
  <h5>Visto por:<h5><h6> <%= link_to "#{spotted.user.first_name}" %><h6>
</div>