<div class="container d-flex justify-content-center">
  <div class="row d-flex justify-content-space-around">
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input 'Local (endereço)', :address %>
      <%= f.input "Quando você viu #{@pet.name}?", :time %>
      <%= f.input 'Você resgatou o pet?', :seen_or_rescued, collection: ['Não, apenas vi.', 'Sim, está comigo!']  %>
      <%= f.input "Por favor, acrescente mais detalhes sobre o local onde estava e sobre o estado do pet", :description %>
      <div class="row justify-content-center mt-4 mb-5">
        <%= f.submit 'Adicionar pet', class:"btn btn-primary btn-md" %>
      </div>
    <% end %>
  </div>
</div>