<div class="container d-flex justify-content-center">
  <div class="row d-flex justify-content-space-around">
    <%= simple_form_for [@pet, @spotted] do |f| %>
      <%= f.input :address, label: 'Local (endereço)' %>
      <%= f.input :time, label: "Quando você viu #{@pet.name}?" %>
      <%= f.input :seen_or_rescued, label: 'Você resgatou o pet?', collection: ['Não, apenas vi.', 'Sim, está comigo!']  %>
      <%= f.input :comments, label: "Por favor, acrescente mais detalhes. (sobre o local onde estava, o estado do pet, etc)"  %>
      <div class="row justify-content-center mt-4 mb-5">
        <%= f.submit 'Adicionar ajuda', class:"btn btn-primary btn-md" %>
      </div>
    <% end %>
  </div>
</div>