<div class="container mt-5">
  <div class="row justify-content-center align-items-center" style="margin-top: 100px;">
    <div class="col-md-6">
        <h3 class="text-center open-sans">Deseja alterar informações de <strong><%= @pet.name %></strong>?</h3>
        <div class="row justify-content-center align-items-center">
          <div class="divisor"></div>
        </div>
        <%= simple_form_for(@pet) do |f| %>
          <%= f.input :name %>
          <%= f.input :species, collection: ['Cachorro', 'Gato', 'Ave', 'Outra' ]  %>
          <%= f.input :description %>
          <%= f.input :lost_date, input_html: { class: 'datepicker'} %>
          <%= f.input :lost_location, label: 'Endereço do último local em que foi visto' %>
          <%= f.input :photo, :label => 'Envie uma foto deste pet', as: :file %>
          <div class="row justify-content-center mt-4 mb-5">
            <%= f.submit "Editar informações", class:"btn-custom pink mt-3"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
