<body class="pattern">

<div class="container mt-5 justify-content-center">
  <div class="d-flex flex-row justify-content-left mt-4">
    <%= link_to pets_path do %>
      <p class="card-text text-center mt-1 link-icon mr-3" style="font-size: 21px;"><i class="fas fa-long-arrow-alt-left"></i></p>
    <% end %>
  </div>
  <div class="justify-content-center"  >
    <h3 class="nunito" style="font-size: 36px;">Ajude a achar <strong><%= @pet.name %></strong></h3>
    <h5 class="nunito">Longe de casa desde <strong><%= @pet.lost_date.strftime("%d/%b/%y")%></strong></h5>
    <div class="divisor mt-3"></div>
      <div class="fb-share-button" data-href="https://www.robyn.com.br/pets/<%="#{@pet.id}"%>/" data-layout="button_count">
      </div>
      <div class="row mt-3">
        <div class="col s3">
          <% if @pet.photo.attached? %>
            <%= cl_image_tag @pet.photo.key, class:"card-img-top card-pet-page cursor-custom", id:'image' %>
          <% else %>
            <%= image_tag "placeholder.png", class:"card-img-top card-pet-page" %>
          <% end %>
        </div>
        <div class="col s9" style="margin-top: 50px; margin-right: 95px; width:95px;">
          <div class="container text-pet-page nunito">
            <p style="font-size: 22px;"><strong>Detalhes </strong></p>
            <br>
            <p><strong>Espécie: </strong><%= @pet.species %></p>
            <p><strong>Descrição: </strong><%= @pet.description %></p>
            <p><strong>Humano: </strong><%= @pet.user == current_user ? 'Você' : "#{@pet.user.first_name} #{@pet.user.last_name}" %></p>
            <br>
            <p><strong>Perdido em: </strong><%= @pet.lost_location %></p>
            <br>
            <br>
            <% if @pet.found_date.nil? == false %>
              <p>Este pet já foi encontrado!</p>
            <% else %>
              <% if @pet.user == current_user %>
                <%= link_to "Meu pet voltou para casa!", returned_path(@pet),class:"btn-custom pink mt-3 mb-3 link-white" %>
              <% else %>
                <%= link_to " Eu vi esse pet!", new_pet_spotted_path(@pet),class:"btn-custom pink mt-3 mb-3 link-white" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <br>
      <p class="nunito" style="font-size: 22px;"><strong>Visto em</strong></p>
      <div class="mb-5">
        <%= render 'mapbox', markers: @markers %>
      </div>
    </div>
  </div>
</div>

 <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

</body>
