<div class="container mt-5 justify-content-center">
  <div class="justify-content-center" style="margin-top: 80px;" >
    <h3 class="open-sans" style="font-size: 36px;">Ajude a achar o <strong><%= @pet.name %></strong></h3>
    <h5 class="open-sans">Perdido desde <strong><%= @pet.lost_date.strftime("%d/%b/%y")%></strong></h5>
    <div class="row mt-5">
      <div class="col s3">
          <% if @pet.photo.attached? %>
            <%= cl_image_tag @pet.photo.key, class:"card-img-top" %>
          <% else %>
            <%= image_tag "placeholder.png", class:"card-img-top" %>
          <% end %>
      </div>
      <div class="col s9" style="margin-top: 50px; margin-right: 95px; width:95px">
        <div class="container" style="font-family: 'Roboto', sans-serif; margin-top: -50px;">
          <p><strong>Especie: </strong><%= @pet.species %></p>
          <p><strong>Descrição: </strong><%= @pet.description %></p>
          <p><strong>Humano: </strong><%= @pet.user == current_user ? 'Você' : "#{@pet.user.first_name} #{@pet.user.last_name}" %></p>

          <% if @pet.user == current_user %>
            <%= link_to "Meu pet voltou para casa!", edit_pet_path(@pet),class:"btn-custom pink mt-3 mb-3 link-white" %>
            <% else %>
              <%= link_to " Eu vi esse pet", new_pet_spotted_path(@pet),class:"btn-custom pink mt-3 mb-3 link-white" %>
          <% end %>
        </div>
      </div>
    </div>

    <br>
    <p class="open-sans" style="font-size: 20px;">Visto em<p>
      <div class="mb-5">
    <%= render 'mapbox', markers: @markers %>
      </div>
    </div>
  </div>
</div>
