<div class="container m-5">
  <div class="row">
    <div class="col s3 offset-md-1">
      <div class="imagebox" style="margin-left: -100px; margin-bottom: 50px;width: 200px">
        <%# if @pet.photo.attached? %>
          <%#= cl_image_tag @pet.photo.key, height: 400, width: 400,:fetch_format=>:auto, crop: :fill %>
        <%# else %>
          <%= image_tag "placeholder.png", class:"card-img-top" %>
        <%# end %>
      </div>
    </div>
    <div class="col s9" style="margin-top: 50px; margin-right: 250px; width:200px">
      <div class="container" style="font-family: 'Roboto', sans-serif; margin-top: -50px;">
        <h1><%= @pet.name %></h1>
        <div>
          <p><strong>Descrição: </strong> <%= @pet.species %> - <%= @pet.description %></p>
          <p><strong>Humano: </strong><%= "#{@pet.user.first_name} #{@pet.user.last_name}" %></p>
          <p><strong>Perdido desde: </strong><%= @pet.lost_date %></p>
          <p>Eu vi esse pet!</p> <%# ADICIONAR LINK PARA NEW_SPOTTED  %>
        </div>
      </div>
    </div>
  </div>
  <div class="col s3" style="margin-left: -10px; margin-bottom: 20px;">
    <%= link_to 'Voltar para pets perdidos', pets_path %></li>
  </div>
</div>