<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path "Home", class: "navbar-brand" do %>
    <%= image_tag "robyn.png" , alt: "Take me Home"%> Home
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag @photo.photo.key, height: 400, width: 400,:fetch_format=>:auto, crop: :fill %>
          <% else %>
            <%= image_tag "https://picsum.photos/id/237/400/400", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", user_path, class: "dropdown-item" %>
            <%= link_to "Edit ", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Messages", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="row nav-item nav-text">
          <%= link_to "Como funciona", "#", class: "nav-link mr-3" %>
          <strong><%= link_to "Ver pets", pets_path, class: "nav-link mr-3"%></strong>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link mr-3" %>
          <%= link_to "Login", new_user_session_path, class: "nav-link mr-3" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
