<!-- Topo do site -->

<div class="background-top">

  <div class="container">

    <div class="container headline">
      <h1 class="texto">Perdeu seu pet? A gente te ajuda</h1>

      <div class="botoes">
        <%= link_to "Ver pets", pets_path, class: "btn-custom white mr-3"%>
        <%= link_to "Perdi meu pet", new_pet_path, class: "btn-custom pink link-white"%>

      </div>

    </div>

  </div>

</div>

<!-- Seção "Ver pets" -->

<div class="container">
  <div class="d-flex justify-content-center section">
    <h1 class="texto">Ajude um pet a voltar para casa</h1>
  </div>
  <div class="row justify-content-center mt-5 cards-home">
    <% @pets.each do |pet| %>
      <div class="col-6 col-md-3 mb-5">
        <div class="card">
          <%= link_to pet_path(pet) do %>
            <% if pet.photo.attached? %>
              <%= cl_image_tag pet.photo.key, class: "card-img-top card-pets", width: "95", height: "150" %>
            <% else %>
              <%= image_tag "pholder.png", class:"card-img-top card-pets" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-center open-sans"><strong><%= pet.name %></strong></h5>
              <br>
              <p class="card-text text-center open-sans">Data: <%= pet.lost_date.strftime("%d/%b/%y")%></p>
              <p class="card-text text-center open-sans">São Paulo, SP<%#=pet.lost_location %></p>
              <p class="card-text text-center"></p>
              <%= link_to new_pet_spotted_path(pet) do %>
              <p class="card-text text-center mt-4"><button type="button" class="btn-custom purple">Reportar</button></p>
              <% end %>
            </div>
          <% end %>  
        </div>
      </div>
    <% end %>

  </div>
</div>
    <%= link_to "/pets", class: "d-flex justify-content-center section mt-3" do %>
      <h2>Ver todos</h2>
    <% end %>

<!-- Seção "Como funciona" -->

<div class="container como-funciona" id="como-funciona">
  <%= image_tag "robyn-vector.png", class: "bird" %>
      <div style="width: 100%; background-color: #FCD0D0">
        <div style="width: 50%; height: 400px; float: left; background: #F88585;">
          <div class="row d-flex justify-content-center mt-3 feature-desc">
            <h1>Feature Description</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non mauris sem. Phasellus vitae urna lobortis</p>
          </div>
        </div>
        <div style="background-image: url('../assets/poster-home.png'); background-size:80%; background-position: center; background-repeat: no-repeat; margin-left: 50%; height: 400px;">

        </div>
      </div>
      <div style="width: 100%;">
        <div style="width: 50%; height: 400px; float: left; background: #A385F8;">
            <div style="margin-top: 150px;">
            <h1 style="font-size: 6vw;">140</h1>
            <p class="found-text">Pets encontrados desde Jan/2020</p>
          </div>
        </div>
        <div style="margin-left: 50%; height: 400px; background: #85F8DC;">
            <div class="row d-flex justify-content-center">
            <h1 style="margin-top: 100px; color: gray;">Feature Description</h1>
            <p style="color: gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non mauris sem. Phasellus vitae urna lobortis</p>
          </div>
        </div>
      </div>
</div>
