<div class="container mt-5">
  <table class="table">
  <thead>
    <th style="font-family: 'Roboto', sans-serif;">Pet</th>
    <th style="font-family: 'Roboto', sans-serif;">Last Seen On</th>
      <th>Action</th>
    <% if @user == current_user %>
    <% end %>
  </thead>
  <% @pets.each do |pet| %>
      <tr>
        <td>
          <div class="row justify-content-space-between">
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photo.first.key, height: 30, width: 30, :fetch_format=>:auto, crop: :fill %>
            <% else %>
            <%= image_tag("placeholder.png", class:"menu-icon mr-1", height: '30', width: '30') %>
            <% end %>
            <%= link_to "#{pet.name.capitalize}", pet_path(pet), style: "font-family: 'Roboto', sans-serif;" %> 
          </div>
        </td>
        <td style="font-family: 'Roboto', sans-serif;"><%= link_to "#{pet.spotteds.last.time.strftime("%H:%M of %d/%b/%y")}", pet_path(pet) %></td>
        <% if pet.user == current_user %>
          <td>
            <div class="row justify-content-space-between">
              <%= link_to edit_pet_path(pet), method: :delete,
              data: { confirm: "Delete item?" } do %>
                <i class="fa fa-trash d-flex justify-content-around pr-4"></i>
              <% end %>
              <%= link_to pet_path(pet) do %>
                <i class="fa fa-edit justify-content-around pr-3"></i>
              <% end %>
              <%= link_to "pet_path" do %>
                <i class="fa fa-paper-plane justify-content-around" aria-hidden="true"></i>
              <% end %>
            </div>
          </td>
          <% end %>
      </tr>
  <% end %>
</table>
</div>
