<div class="container mt-5">
  <table class="table">
  <thead>
    <th style="font-family: 'Roboto', sans-serif;">Pet</th>
    <th style="font-family: 'Roboto', sans-serif;">Visto Pela Última Vez Em..</th>
      <th>Opções</th>
  </thead>
  <% @pets.each do |pet| %>
      <tr>
        <td>
          <div class="row justify-content-space-between">
          <% if pet.photo.attached? %>
            <%= cl_image_tag pet.photo.key, class:"img-responsive mr-2", height: '30', width: '30', :fetch_format=>:auto, crop: :fill %>
            <% else %>
            <%= image_tag("placeholder.png", class:"avatar", height: '30', width: '30') %>
            <% end %>
            <%= link_to "#{pet.name.capitalize}", pet_path(pet), style: "font-family: 'Roboto', sans-serif;" %> 
          </div>
        </td>
        <% if pet.spotteds.empty? %>
        <td><p><%= pet.species %> ainda não foi visto...<p></td>
        <% else %>
        <td style="font-family: 'Roboto', sans-serif;"><%= link_to "#{pet.spotteds.last.time.strftime("%d/%b/%y às H:%M")}", pet_path(pet) %></td>
        <%end%>
        <td>
          <div class="row justify-content-space-between">
            <%= link_to pet_path(pet), method: :delete,
            data: { confirm: "Delete item?" } do %>
              <i class="fa fa-trash d-flex justify-content-around pr-4"></i>
            <% end %>
            <%= link_to edit_pet_path(pet) do %>
              <i class="fa fa-edit justify-content-around pr-3"></i>
            <% end %>
            <%= link_to "pet_path" do %>
              <i class="fa fa-paper-plane justify-content-around" aria-hidden="true"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
