<!DOCTYPE html>
<html>
  <head>
    <title>RailsRobyn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>


  </body>
</html>
